.recommendation {
  background: linear-gradient(180deg, #b8603c 0%, #898989 100%);
  height: 90rem;
  position: relative;
}

@media only screen and (max-width: 320px) {
  .recommendation {
    height: 100rem;
  }
}

@media only screen and (max-width: 767px) {
  .recommendation {
    height: 160rem;
  }
}

.recommendationContainer {
  width: 85%;
  border-radius: 70px;
  position: absolute;
  top: -80px;
  left: 8%;
}

.itemName {
  font-weight: 600;
  line-height: 51px;
  letter-spacing: -0.025em;
  position: absolute;
  bottom: 30px;
  left: 40px;
}
