.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../public/assets/images/background/gerbang-alun-alun.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem 0;
  height: 600px;
}

@media only screen and (max-width: 390px) {
  .hero {
    height: 700px;
  }
}

.heroHeader {
  font-weight: 600;
  line-height: 59px;
  letter-spacing: -0.025em;
}

.header {
  font-weight: 600;
  line-height: 59px;
}

.horizontalBar {
  height: 5px;
  width: 50%;
}

.galleryBackground {
  background: linear-gradient(180deg, #B8603C 0%, #898989 100%);
}

.masonry {
  display: block;
  columns: 12rem;
  gap: 1rem;
}